.container {
    border: 1px solid black;
    width: 350px;
    margin: 20px auto;
    padding: 15px 20px;
    background:white;
}
h2 {
    margin-top: 0;
}
.google-logo {
    width: 250px;
    display: block;
    margin: 10px 0;
}
hr {
    height: 2px;
    background: black;
}
progress {
    width: 200px;
    height: 15px;
    vertical-align: middle;
}
button {
    margin-top: 5px;
}
label {
    margin-right: 5px;
}